{% extends "layout.html" %}

{% block buttons %}

	<div class="indexbuttons">
		<a class="btn btn-primary" href="login" role="button">Login Now</a>
		<a class="btn btn-primary" href="register" role="button">Register</a>
	</div>

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h1> Welcome!</h1>
		</div>
	</div>
	
	<div class="col-span-6">
		<p>
			If you haven't registered yet please feel free to join the community
		</p>
		<p>
			Otherwise welcome back!
		</p>
	</div>
{% endblock %}