{% extends "layout.html" %}

{% block buttons %}

	<div class="indexbuttons">
		{{ login }}
		{{ register }}
		{{ logout }}
	</div>
	<div class=LogInMessage>
		{{ message }}
	</div>

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h1> Welcome!</h1>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3> Top Rated </h3>
			</div>
			<div class="col-sm-6">
				<h3> Recently Reviewed Books </h3>
			</div>
		</div>
	</div>
{% endblock %}